// colors.scss

$base-background: rgb(222, 247, 250);

$dark-blue: rgba(12, 50, 85);

$base-red: rgba(240, 110, 64, .8);

$transparent-red: rgba(240, 110, 64, .3);

$bright-red: rgba(240, 110, 64, 1);

$bright-blue: rgba(88, 208, 225);