.main {
    position: relative;
}
.container { 
    background: rgb(222, 247, 250);
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-areas: 
        "header header"
        "main main"
        "footer footer";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 8fr 60px;
}

.header {
    grid-area: header;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header__input {
    padding: 8px 15px;
    border: 1px rgba(12, 50, 85, .7) solid;
    border-radius: 5px;
    min-width: 10rem;
}
.aside__menu {
    grid-area: aside;
}
.main {
    grid-area: main;
    height: calc(100vh - 120px);
    overflow: scroll;
}

.main::-webkit-scrollbar {
    display: none;
}

.main {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.footer {
    grid-area: footer;

    display: flex;
    justify-content: center;
    align-items: center;
}
