
.main__table {
    border-collapse: collapse;
    display: grid;
    grid-template-columns: minmax(150px, 1fr) minmax(150px, 1fr) minmax(150px, 1fr) minmax(150px, 1fr) minmax(40px, .2fr);
    margin-bottom: 20px;
}

.main-table__head,
.main-table__body,
.main-table tr {
    display: contents;
}

.table-head__item {
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table-head__item {
    position: sticky;
    top: 0;
    background: rgb(12, 50, 85);;
    text-align: left;
    font-weight: normal;
    font-size: 1.1rem;
    color: white;
}

.table-head__item:last-child {
    border: 0;
}

.table-body__item {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #808080;

    display: flex;
    justify-content: center;
    align-items: center;
}
.table-body__item>*{
    width: 100%;
}

.table-body__row>.table-body__item:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
}


.table-body__row:nth-child(even) .table-body__item {
    background: #f8f6ff;
}
.table-head__item {
    text-align: left;
}


.table__input {
    height: 100%;
    padding: 0px 15px;
}

textarea {
    height: 10vh;
} 

.table-remove__btn {
    background: rgba(240, 110, 64, .8);
    border-radius: 5px;
    aspect-ratio: 3/2;
    margin: 10px;
    color: white;
    transition: all .3s;
}

.table-remove__btn:hover {
    background: rgba(240, 110, 64);
    box-shadow: 0px 2px 24px rgba(240, 110, 64);

}

.actions__btn {
    background: rgba(12, 50, 85);
    border-radius: 5px;
    padding: 10px 20px;
    height: 100%;
    color: white;

    transition: all .3s;
}

.actions__btn:hover {
    background: rgba(88, 208, 225);
    box-shadow: 0px 2px 24px rgba(88, 208, 225);
}

.main__wrapper {
    width: 100%;
    padding: 0px 20px;
}
.actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    bottom: 0;
    left: 0;

    background: rgb(222, 247, 250);
    padding: 0px 20px 20px 20px;
}
.main-table {
    width: 100%;
    height: 100%;
}

.incorrect {
    border: 1px solid rgba(240, 110, 64, 1);
    border-radius: 5px;
    background-color: rgba(240, 110, 64, .3);
}

textarea {
    padding: 15px 15px;
}

input, textarea, select {
    background: transparent;
    transition: all .3s;
}

input:hover, textarea:hover, select:hover {
    background: rgba(255, 255, 255, .7);
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 1);
}