@import "~normalize.css";

/* NULL */
@import url("/styles/null.css");

/* MAIN */
@import url("/styles/main.css");

/* ASIDE */
@import url("/styles/menu.css");

/* TABLE */
@import url("/styles/table.css");

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.hidden {
    display: none !important;
}
