@import "~normalize.css";

/* NULL */
@import url("/styles/null.css");

/* MAIN */
@import url("/styles/main.css");

/* ASIDE */
@import url("/styles/menu.css");

/* TABLE */
@import url("/styles/table.css");

.hidden {
    display: none !important;
}

.incorrect {
    border: 1px solid rgba(255, 0, 0, .9);
    border-radius: 5px;
    background-color: rgba(255, 0, 0, .1);
}